{% extends 'blog/layout.html' %}
{% load static %}




{% block body %}

<section>
      <ul class="posts">
        {% for post in object_list %}
        <h2>{{post.title}}</h2>
        <li>  
            {{ post.body|slice:":40"|safe }}
            <a href="{% url 'article_details' post.pk %}">Read more</a>
            <!-- <br> {{post.post_date}}<br> 
            {{ post.author }} -->
        </li>
        {% if user.is_authenticated %}
        <a href="{% url 'update' post.pk %}">update</a>
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {%endif%}
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
    <div class='add'><a href="{% url 'add_post' %}">Add Post</a> </div>
    {%endif%}

</section>


{% endblock %}