[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = {version = "==8.0.0", extras = ["django"]}
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
