body{
  width :100%;
  height : 100vh;
  background-color: #ebebeb;

}

navbar{
  display: flex;
  justify-content: space-between;
}

navbar .menu{
  list-style: none;
  display:inline-flex;
}

navbar .menu li{
  padding-left: 20px;
}

/* Post styling*/
section ul li{
  list-style: none;
}