{% extends 'blog/layout.html' %}

{% block body %}
<body>
    <h1>Post</h1>

    {% if user.is_authenticated %}
    <a href="{% url 'logout'%}">Logout</a> {%else%}
    <a href="{% url 'signup'%}">signup</a> {%endif%}
    <ul>

        {% for post in object_list %}
        <li> <a href="{% url 'article_details' post.pk %}">{{ post.title }}</a> - {{ post.author }}<br> {{ post.author.first_name}} {{ post.author.last_name}} - {{post.post_date}}-<br><br> {{ post.body|slice:":150"|safe }} {% if user.is_authenticated %} {%
            {if user.is_authenticated %}
            <a href="{% url 'update' post.pk %}">Update YourPost</a> {%endif%}
            <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
        </li>

        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <a href="{% url 'add_post' %}">Add Post</a> {% else %}
    <p></p>
    {%endif%}


{% endblock %}