{% extends 'layout.html' %}


{% block body %}
<section>
    <h1>{{ post.title }}</h1>
    <div class="post_body">
    {{ post.body|safe }}
    </div>
    <div class="author">
        {{ post.author.first_name}} {{ post.author.last_name}} 
    </div>
    <div class="crud_button">
    <button><a href="{% url 'update' post.pk %}">Update </a> </button> <button> <a href="{% url 'delete_post' post.pk %}">Delete</a> </button>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        <button>    
        <a href="{% url 'comment' post.pk %}">Add comment</a>
        </button>
            {% if not post.comments.all %}

            {%else%}
            {%for comment in post.comments.all %}
            {{ comment.name}}
            {{ comment.date_added}}

            {{ comment.body}}
            {%endfor%}
            {%endif%}
    </div>
</section>
{% endblock %}
